.form {
    max-width: 700px;
    padding: 10px;
    margin: 10px auto;
}

.form__fildset {
    border: 2px solid rgb(148, 148, 148);
    border-radius: 5px;
    padding: 40px;
    background-color: white;
}

.form__legend {
    padding: 10px;
    background-color: teal;
    border-radius: 5px;
    color: white;
}

.form__labelText {
    padding: 10px;
    width: 210px;
    display: inline-block;
}

.form__label {
    border-radius: 5px;
    width: 250px;
    max-width: 250px;
}

.form__annotation {
    font-size: 12px;
}

.form__button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    border: none;
    

}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
}
